/* 
Developer name: Jeandre Melaria
Project title: Bakery Fresh
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, less
IDE tool: Dreamweaver
Database:  -
Project type: Email newsletter template.
File created date: 20.07.2017
Last modified: 23.10.2017
 */

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - Links
// - Media queries


// === === Variables === === //
@color-1: #808080;
@color-2: #00bfff;
@color-3: #dddddd;
@color-4: white; 
@color-5: #f4f4f4;
@color-6: purple;
@font-size: 1rem;


@text-shadow: 2px 2px 5px black;
@paddinng-div:5px;




// === === Functions === === //
.backgroundColor(@color: @color-1){
	background-color: @color;
}
.margin(@margin-top: 1rem, @margin-right: 1rem, @margin-bottom: 1rem, @margin-left: 1rem ){
	margin-top:@margin-top;
	margin-right: @margin-right;
	margin-bottom:@margin-bottom;
	margin-left:@margin-left;
}
.padding(@padding: 1rem){
	padding:@padding;
}
.min-height(@min-height:50px){
	min-height:@min-height;
}
.imgHeightAndWidth(@img-width:47.3%,@img-height:50%){
	width:@img-width;
	height:@img-height;
}
.margin(@margin-top:2rem, @margin-right:2rem, @margin-bottom:2rem, @margin-left:2rem){
	margin-top:@margin-top;
	margin-right:@margin-right;
	margin-bottom:@margin-bottom;
	margin-left:@margin-left;
}
// === === Mixings === === //
.bg-1{
	.backgroundColor();
}
.bg-2{
	.backgroundColor(@color-2);
}
.bg-3{
	.backgroundColor(@color-3);
}
.margin-text{
	.margin(@margin-top: 1rem, @margin-right: 1rem, @margin-bottom: 1rem, @margin-left: 1rem )
}
.margin-div{
	.margin(-1rem, 0rem, 0rem, 0rem);
}
.margin-div1{
		.margin(1rem, 1rem, 1rem, 1rem);
}
.margin-img{
	.margin(1rem, 1rem, 1rem, 1rem);
}
.paddinng-div{
	.padding(1rem);	
}
.min-height-div{
	.min-height();	
}
.img-width{
	.imgHeightAndWidth();
}
.div-space{
	.margin(0.5rem, 0rem, 0rem, 0rem);
}
.text-color{
	color:@color-4;	
}
.text-shadow{
	text-shadow: @text-shadow;
}
.margin-p{
	.margin(0rem, 0rem, 0rem, -1.5rem);
}
.margin-p-1{
	.margin(-1rem, 0rem, 0rem, 0rem);	
}
.margin-btn{
	.margin(1rem, 1.5rem, 1rem, 1.5rem);
}
// === === Links === === //

// unvisited link //
a:link {
    color: @color-4 !important;
}

// visited link //
a:visited {
	color: @color-5 !important;
	}

// mouse overlink //
a:hover {
	text-decoration: underline !important;
	color: @color-4 !important;
	}

// selected link //
a:active{
	color: @color-6 !important;
	}
	
// === === Media queries === === //	

@media screen and (max-width: 575px) {
	
.font_size {
    font-size:@font-size;
	.margin(-10rem, 0rem, 0rem, 0rem)!important;
  }	
	}
@media screen and (min-width: 576px) and (min-width: 767px) {
	
.font_size {
    font-size:@font-size;
	.margin(-8rem, 0rem, 0rem, 0rem)!important;
  }	
	}

@media screen and (min-width: 768px) and (min-width: 991px) {
	
.font_size {
    font-size:@font-size;
	.margin(-8rem, 0rem, 0rem, 0rem)!important;
  }	
	}
@media screen and (min-width: 992px) {
	
.font_size {
	font-size:@font-size;
	.margin(-10rem, 0rem, 0rem, 0rem)!important;
   
  }	
	}

